<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 <link rel="stylesheet" href="./css/style.css">
</script>
    {{#each styles}}
        <link rel="stylesheet" href="{{this}}">
    {{/each}}
    {{#each scripts}}
        <script type="module" src="{{this}}"></script>
        {{log this}}
    {{/each}}


</head>
<body>
   {{> header}}

  
<main>
 
 <section>
        {{#each this.cours}}
        <ul id="sport-list-admin">
          <li>
           
             <div>
            {{this.nom}}
          </div>
          <div>
             {{this.description}}
          </div>
          <div>
             {{this.capacite}}
          </div>
          <div>
             {{this.nb_cours}}
          </div>
          <div>
             {{this.date_debut}}
          </div>
             <div><button data-id="{{this.id_cours}}" class="DesInscrireBtn">Deabonner de cours</button></div>  
          </li>
         
          
        </ul>
        
        {{/each}}
        
      </section> 

      
</main>
    
</body>
</html>